@model IEnumerable<Course>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kurslar</h1>
<a class="btn btn-primary mb-3" asp-action="Create">Kurs ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>

            <th>Name</th>
            
            <th>Islemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>@item.Name</td>
                
                <td>

                    <a asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
}
    </tbody>
</table>



