@model Student
@inject Core.Services.IClubService clubService
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = clubService.GetAll();
}

<h1>Ogrenci Guncelleme</h1>
<div class="row">

    <div class="col-md-4">

        <form asp-action="update">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name">Ogrenci ismi: </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname">Ogrenci Soyismi: </label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender">Ogrenci Cinsiyeti: </label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">

                @Html.DropDownList("ClubId", (IEnumerable<SelectListItem>)ViewBag.Clubs)
                <span asp-validation-for="ClubId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

